@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    margin: 0px;
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    box-sizing: border-box;
}

body{
    position: relative;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header{
    display: block;
    height: 60px;
    margin-bottom: 20px;
}

.header h1 img{
    height: 50px;
    display: block;
    margin: 0 -10px;
}

.main{
    margin: 0 auto;
    width: 1200px;
    height: 100vh;
    background-color: #F3F5FC;
}

.container{
    display: flex;
    justify-content: space-around;
}

.caja{
    resize: none;
    border: none;
    text-transform: lowercase;
    
}

.caja:focus{
    outline: none;
}

.caja-text1{
    background-color: transparent;
    width: 99%;
    height: 63%;
    max-height: 445px;
    padding-left: 10px;
    padding-right: 10px;
}

.alert-content{
    height: 50px;
    display: block;
    position: relative;
}

.alert svg{
    height: 22px;
    margin-left: -10px;
    margin-right: -10px;
    position: relative;
    top: 5px;
    fill: #5A7178;
}

.text-alert{
    font-size: 14px;
    color: #5A7178;
}

.botones{
    display: flex;
    margin-top: 18px;
    justify-content: space-between;
}

.encriptar{
    background-color: #0A3871;
    color: white;
    height: 67px;
    width: 275px;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

.desencriptar{
    background-color:  #F3F5FC;
    color: #0A3871;
    height: 67px;
    width: 275px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    cursor: pointer;
}

.caja-text2{
    background-color: white;
    background-image: url(./assets/Muñeco.png);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    margin-top: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 96%;
    height: 63%;
    max-height: 450px;
    position: relative;
    
}

.copiar{
    background-color:  #F3F5FC;
    color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 10px;
    height: 67px;
    width: 275px;
    border-radius: 24px;
    cursor: pointer;
    position: relative;
    bottom: -5px;
    left: 20%;
    right: 30%;
    
}

::placeholder{
    color: #0A3871;
}

.section1{
    width: 50%;
    margin-top: 15px;
    height: 65vh;
    border: 1px solid;
}

.section2{
    width: 38%;
    margin-top: 10px;
    position: relative;
    background-color: white;
    border-radius: 24px;
    height: 65vh;
    border: 1px solid;
}

.footer{
    margin-top: auto;
    background-color: #333;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
}

.footer p, a{
    font-size: 20px;
    display: inline;
    color: white;
}

footer a{
    text-decoration: none;
}

footer a:hover{
    color: blue;
    text-decoration: underline;
}

footer a:active{
    color: blueviolet;
}

footer a:visited{
    color: purple;
}

@media (max-width:1200px) {
    .main{
        min-height: 620px;
        max-width: 1200px;
        width: 100%;
    }

    .section1{
        width: 50%;
    }

    .section2{
        width: 38%;
        
    }

    .footer{
        min-width: 100vw;
        width: 100%;
    }
}

@media (max-width:1144px){
    .encriptar{
        width: 40%;
    }

    .desencriptar{
        width: 40%;
    }
}

@media (max-width:1144px) and (max-height: 570px){
    .caja-text1{
        height: 60%;
    }

    .caja-text2{
        height: 60%;
    }
}

@media (max-width:1080px) {
    .encriptar{
        width: 44%;
    }

    .desencriptar{
        width: 44%;
    }

    .copiar{
        left: 17%;
        right: 25%;
    }
}

@media (max-width:988px) {
    .copiar{
        width: 65%;
        left: 18%;
        right: 20%;
    }
}

@media (max-width:852px){
    *{
        font-size: 20px;
    }
}

@media (max-width:700px){

    .main{
        width: 700px;
        min-height: 180vh;
    }

    .container{
        flex-direction: column;
        gap: 30px;
        width: 98%;
        margin: 0 auto;
    }
    
    .section1{
        width: 90%;
        height: 45%;
        margin: 0 auto;
    }


    .section2{
        width: 90%;
        height: 45%;
        margin: 0 auto;
    }

}


@media (max-width:700px) and (max-height:600px){

    .main{
        min-height: 180vh;
        width: 700px;
    }

    .container{
        flex-direction: column;
        gap: 30px;
        width: 98%;
        margin: 0 auto;
    }
    
    .section1{
        width: 90%;
        height: 380;
        margin: 0 auto;
    }

    .section2{
        width: 90%;
        height: 380px;
        margin: 0 auto;
    }

}

@media (max-width:700px) and (max-height:550px){
    .caja-text1{
        height: 55%;
    }
    .caja-text2{
        height: 55%;
    }
}
